@use '@variables' as *;

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  img {
    width: 15vh;
  }
}

.menu {
  display: flex;
  gap: 1rem;
  color: $font-color;
  font-size: 1.5rem;
  font-weight: bold;
}