@use '@variables' as *;

.iconsFooter {
  display: flex;
  justify-content: end;
  margin: 2rem 0;
  
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;

  svg {
    font-size: 3rem;
    color: #fff;
    background-color: $font-color;
    border-radius: 50%;
    padding: 0.5rem;

    &:hover {
      color: $font-color;
      background-color: #fff;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .iconsContainer {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
}